<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/toughts/add" class="btn">Criar pensamento</a>
    </div>

    <h3>Seus pensamentos</h3>
    <ul>
        {{#each toughts}}
            <li>
                <span class="label">{{this.title}}</span>
                <span class="actions">
                    <a href="/toughts/edit/{{this.id}}" class="edit edit-colors">Editar</a>
                    <form action="/toughts/remove" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Excluir" class="delete delete-colors">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if emptyToughts}}
        <p>
            Você ainda não cadastrou seus pensamentos. Comece <a href="/toughts/add" class="link">por aqui!</a>
        </p>
    {{/if}}
</div>