<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <title>Toughts</title>
    <link rel="stylesheet" href="/styles/style.css">

    {{!-- Bootstrap Icons --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <nav id="navbar">
        <a href="/" id="logo">
            <img src="./imgs/toughts_logo.png" alt="Logo do site | Toughts">
        </a>
        <ul>
            <li>
                <a href="/">Pensamentos</a>
            </li>
            <li>
                <a href="/login">Entrar</a>
            </li>
            <li>
                <a href="/register">Criar conta</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {{#if messages.message}}
            <div class="message">
                {{messages.message}}
            </div>
        {{/if}}
        {{{body}}}
    </div>
    <footer>
        <p>
            <span>Toughts</span> &copy; 2022
        </p>
    </footer>
</body>
</html>